<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772924471090-oc1i8sk37nm1glasvt2d6p5o1bu4n9ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772924471090-oc1i8sk37nm1glasvt2d6p5o1bu4n9ei</string>
	<key>API_KEY</key>
	<string>AIzaSyAZpuAsua2_qAj5kRkZE5pmbFh74vdLe8M</string>
	<key>GCM_SENDER_ID</key>
	<string>772924471090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.scream</string>
	<key>PROJECT_ID</key>
	<string>scream-c74e7</string>
	<key>STORAGE_BUCKET</key>
	<string>scream-c74e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772924471090:ios:dfb2a88f31be99fdda892b</string>
</dict>
</plist>